.evaluation_show
  %dl
    %dt Mise
    %dd= linked_name resource.mission
    %dt Autor hodnocení
    %dd= linked_name resource.author
    %dt Hodnocený agent
    %dd= linked_name resource.character

  %article[resource]
    =simple_format(resource.content)
