%div[attendance]
  %h4= attendance.character.full_name
  -if attendance.report
    %p
      = truncate(attendance.report)
      = link_to("Celé hlášení", attendance)
  -else
    %p
      Hlášení nedodáno.
      -if can? :update, attendance
        = link_to("Přidat hlášení", edit_mission_attendance_path(attendance))