%table#mission_attendances.sortable
  %thead
    %tr
      %th Mise
      %th Autor
      %th Hlášení
      %th
  %tbody
    - collection.each do |mission_attendance|
      %tr[mission_attendance]
        %td= linked_name mission_attendance.mission
        %td= linked_name mission_attendance.character
        %td
          -if mission_attendance.report.blank?
            Nedodáno
          -else
            = link_to 'Zobrazit', mission_attendance
        %td
          -if can? :update, mission_attendance
            = link_to 'Upravit', edit_mission_attendance_path(mission_attendance)
