%h2 Přehled hlášení

%table#mission_attendances
  %tr
    %th Mise
    %th Autor
    %th Hlášení
    %th

  - @mission_attendances.each do |mission_attendance|
    %tr[mission_attendance]
      %td= link_to mission_attendance.mission.full_name, mission_attendance.mission
      %td= link_to mission_attendance.character.full_name, mission_attendance.character
      %td= link_to 'Zobrazit', mission_attendance
      -if can? :update, mission_attendance
        %td= link_to 'Upravit', edit_mission_attendance_path(mission_attendance)
