%dl
  %dt Autor
  %dd= link_to(@mission_attendance.character.full_name, @mission_attendance.character)
  %dt Mise
  %dd= link_to(@mission_attendance.mission.full_name, @mission_attendance.mission)

%article[@mission_attendance]
  =markdown(@mission_attendance.report)

.meta_links
  -if can? :update, @mission_attendance
    = link_to 'Upravit hlášení', edit_mission_attendance_path(@mission_attendance)
    \|
  = link_to 'Přehled hlášení', mission_attendances_path
