.mission_attendance_show
  .description
    %dl
      %dt Autor
      %dd= link_to(resource.character, resource.character)
      %dt Mise
      %dd= link_to(resource.mission.full_name, resource.mission)

  %article[resource]
    =markdown(@mission_attendance.report)
