Resource name
= collection_sym
-if can?(:create, collection_sym)
  - begin # If the path doesn't exist
    = link_to new_resource_path, class: 'new button primary' do
      = action_button_translation(:new)
  - rescue
