%table#characters
  %thead
    %tr
      %th
      %th Agent
      %th Hráč
      =render 'shared/action_grid_headers'
  %tbody
    - collection.each do |character|
      %tr[character]
        %td= link_to image_tag(character.portrait.thumb.url, :size => "40x50"), character
        %td= link_to character.full_name, character
        %td= character.user
        =render partial: 'shared/action_grid_row', locals: {resource: character}
