%h1 Agenti

%table#characters
  %tr
    %th
    %th Agent
    %th Hráč
    %th

  - @characters.each do |character|
    %tr[character]
      %td=# link_to image_tag(character.portrait.thumb.url), character
      %td= link_to character.full_name, character
      %td= character.user
      %td
        -if can? :update, character
          =link_to 'Upravit', edit_character_path(character)


%br

.meta_links
  -if can? :create, :characters
    = link_to 'Vytvořit agenta', new_character_path
