-if can? :create, :posts
  = link_to 'Nový příspěvek', new_post_path

%section#posts
  = render partial: "post", collection: @posts

-if can? :create, :posts
  = link_to 'Nový příspěvek', new_post_path

