%li[attendance]
  -if attendance.report
    = link_to(attendance.character.full_name, attendance)
  -else
    = attendance.character.full_name
    -if can? :update, attendance
      &ndash;
      =  link_to("Přidat hlášení", edit_mission_attendance_path(attendance))