%table#missions
  %thead
    %tr
      %th Mise
      %th Datum
      %th Lokace
      %th Zúčastnění agenti
      =render 'shared/action_grid_headers'
  %tbody
    - collection.each do |mission|
      %tr[mission]
        %td= linked_name mission
        %td= mission.date
        %td= mission.location
        %td= linked_codes(mission.characters)
        =render partial: 'shared/action_grid_row', locals: {resource: mission}
