#header
  %nav.top-bar
    %ul
      %li.name
        %h1= link_to "Projekt Omega", root_path

    %ul
      = render 'navigation'
    %ul.account
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
