.character_show
  .description
    .portrait
      +column(2)
    .attributes
      +column(8)
      dt
        float: left
        clear: both
        font-weight: bold
        padding-right: 1ex

.characters form
  #character_number, #character_born
    width: 4em
