#container
  +outerRow

#header
  .account
    float: right
#main
  +column(12)

#page_title
  +innerRow
  h2
    +column(10)
  .action_button
    +column(2)
    text-align: right
    a
      display: block
      margin-top: 14px
